<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/">Go to home</a>

    <form action="<%= formUri %>" method="post">
      <label for="form-user"></label>
      <input
        value="<%= message?.user %>"
        type="text"
        name="<%= msgUser %>"
        id="msg-user"
        required
      />
      <label for="msgText"></label>
      <textarea
        name="<%= msgText %>"
        id="msg-text"
        cols="30"
        rows="10"
        required
      >
<%= message?.text %></textarea
      >
      <button type="submit">submit</button>
    </form>

    <ul>
      <% for(var i=0; i<errors?.length ; i++) {%>
        <li><%= errors[i].msg %></li>
     <% } %>
    </ul>
  </body>
</html>
